body{

margin:0;

font-family:'Segoe UI',sans-serif;

background:
linear-gradient(
135deg,
#dbe8ff,
#e8ddff
);

display:flex;

justify-content:center;

padding:40px;

min-height:100vh;

}

.phone{

width:420px;

background:#eef3ff;

padding:30px;

border-radius:35px;

box-shadow:
0 15px 40px rgba(0,0,0,0.12);

}

h1{

margin:0;

font-size:38px;

color:#24306e;

}

.header{

margin-bottom:25px;

}

.header p{

color:gray;

}

.stats{

display:flex;

gap:12px;

margin-bottom:25px;

}

.card{

flex:1;

background:white;

padding:18px;

border-radius:18px;

text-align:center;

box-shadow:
0 3px 8px rgba(0,0,0,0.05);

}

.card h2{

color:#4a4fff;

margin:5px;

}

.taskInput{

display:flex;

flex-direction:column;

gap:12px;

}

input,
select{

padding:16px;

border:none;

border-radius:16px;

background:white;

font-size:15px;

}

button{

padding:15px;

border:none;

background:#5a4dff;

color:white;

font-weight:bold;

border-radius:16px;

cursor:pointer;

transition:0.2s;

}

button:hover{

transform:scale(1.03);

}

#taskList{

margin-top:25px;

display:flex;

flex-direction:column;

gap:15px;

}

.task{

background:white;

padding:18px;

border-radius:20px;

box-shadow:
0 5px 15px rgba(0,0,0,0.08);

}

.high{

border-left:
7px solid #ff5d73;

}

.medium{

border-left:
7px solid orange;

}

.low{

border-left:
7px solid #22c55e;

}

.delete{

margin-top:12px;

background:#ff5d73;

}

.date{

font-size:13px;

color:gray;

margin-top:6px;

}