body{

margin:0;

font-family:
Segoe UI;

background:
#dfe8ff;

display:flex;

justify-content:center;

padding:40px;

}

.phone{

width:380px;

background:#edf3ff;

padding:25px;

border-radius:35px;

box-shadow:

0 15px 40px
rgba(0,0,0,0.15);

}

.header{

display:flex;

justify-content:
space-between;

align-items:center;

}

.header h1{

margin:0;

color:#283593;

}

.header p{

color:gray;

}

.dateBox{

background:white;

padding:15px;

border-radius:18px;

}

.stats{

display:flex;

gap:10px;

margin:25px 0;

}

.card{

flex:1;

background:white;

padding:15px;

border-radius:18px;

text-align:center;

}

.taskInput{

display:flex;

flex-direction:
column;

gap:10px;

}

input,
select,
button{

padding:14px;

border:none;

border-radius:15px;

font-size:15px;

}

button{

background:
#5b4dff;

color:white;

font-weight:bold;

cursor:pointer;

}

#taskList{

margin-top:20px;

display:flex;

flex-direction:
column;

gap:15px;

}

.task{

background:white;

padding:18px;

border-radius:20px;

box-shadow:

0 5px 15px
rgba(0,0,0,0.08);

}

.high{

border-left:
8px solid #ff4b5c;

}

.medium{

border-left:
8px solid orange;

}

.low{

border-left:
8px solid green;

}

.delete{

background:
#ff4b5c;

margin-top:10px;

width:100%;

}